* {
    margin: 0px;
    padding: 0px;
}

.parent {
    width: 300px;
    height: 300px;
    background-color: green;
    position: relative;
    top: 0px;
}

.red {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50px;
    position: absolute;
    top: 0px;
}